$primary-color-soft: hsl(215, 51%, 70%);
$primary-color-accent: hsl(178, 100%, 50%);

$main-background-color: hsl(217, 54%, 11%);
$card-background-color: hsl(216, 50%, 16%);

$line-color: hsl(215, 32%, 27%);
$white-color: hsl(0, 0%, 100%);
