@use "../../functions/functions";
@import url(/node_modules/@fontsource/outfit/300.css);
@import url(/node_modules/@fontsource/outfit/400.css);
@import url(/node_modules/@fontsource/outfit/600.css);

$primary-font-size: functions.pixelsToRem(16);
$primary-font: "outfit", sans-serif;

$higher-font-weight: 600;
$medium-font-weight: 400;
$lower-font-weight: 300;
