@use "../variables/colors/colors";
@use "../variables/typography/typography";
@use "../functions/functions";

.nft-card {
  font-size: typography.$primary-font-size;
  font-family: typography.$primary-font;
  font-weight: typography.$lower-font-weight;
  color: colors.$primary-color-soft;
  height: functions.pixelsToRem(548);
  width: functions.pixelsToRem(330);
  background-color: colors.$card-background-color;
  padding: functions.pixelsToRem(24);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: functions.pixelsToRem(30);

  &__main-link {
    position: relative;

    div {
      position: absolute;
      top: 0;
      bottom: 0.4rem;
      left: 0;
      right: 0;
      display: none;
    }
  }

  &__image {
    border-radius: 0.5rem;
  }

  &__icon-view {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
  }

  &__content {
    width: 100%;
  }

  &__creator {
    display: flex;
    width: 100%;
    align-items: center;
    gap: functions.pixelsToRem(14);
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: functions.pixelsToRem(20);

  &__title {
    color: colors.$white-color;
    font-weight: typography.$medium-font-weight;
    font-size: functions.pixelsToRem(23);
  }
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  &__currency {
    display: flex;
    gap: functions.pixelsToRem(6);
    color: colors.$primary-color-accent;
    font-weight: typography.$higher-font-weight;

    img {
      height: functions.pixelsToRem(20);
      width: functions.pixelsToRem(10);
    }
  }

  &__time {
    display: flex;
    align-items: center;
    gap: functions.pixelsToRem(6);

    img {
      height: functions.pixelsToRem(16);
      width: functions.pixelsToRem(16);
    }
  }

  &::after {
    content: "";
    position: absolute;
    display: flex;
    width: 100%;
    height: 1px;
    background-color: colors.$line-color;
    bottom: -14px;
  }
}

.creator {
  img {
    border: 1px solid colors.$white-color;
    border-radius: 50%;
  }

  a {
    color: colors.$white-color;
  }
}

@media screen and (min-width: 700px) {
  a:hover {
    color: colors.$primary-color-accent;
    cursor: pointer;
  }

  .nft-card {
    &__main-link {
      &:hover div {
        display: flex;
        background-color: hsla(178, 100%, 50%, 0.5);
        border-radius: 0.5rem;
      }
    }
  }
}
